a.primary-button {
  padding: 6px 16px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  background-color: #F97353;
  border: 2px solid #F97353;
  color: white;
}

a.primary-button:hover {
  color: #F97353;
  background-color: white;
}

.footer .footer-column {
  display: inline-block;
  width: 33%;
}
.footer a {
  color: white;
  text-decoration: none;
  display: block;
}

@media (max-width: 700px) {
  .feature-text {
    display: block;
    width: 100% !important;
  }
  .feature-graphic {
    width: 100% !important;
  }
}
