@import url('https://rsms.me/inter/inter.css');

input {
  font-family: 'Inter';
}
* {
  font-family: 'Inter';
}

body {
  background-color: #FAFAFA;
}

a:hover {
  opacity: 0.7;
}

a.primary-button {
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  background-color: #F97353;
  border: 2px solid #F97353;
  color: white;
}

a.primary-button:hover {
  color: #F97353;
  background-color: white;
  opacity: 1;
}

.footer .footer-column {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.header-right .header-right-item {
  text-decoration: none;
  margin-left: 24px;
  font-size: 21px;
  line-height: 44px;
  color: #1B1B1B;
}

.use-case {
  font-size: 22px;
  margin-bottom: 24px;
}


@media (max-width: 700px) {
  .feature-text {
    display: block;
    width: 100% !important;
  }
  .feature-graphic {
    width: 100% !important;
  }
}
