@import url('https://rsms.me/inter/inter.css');

input {
  font-family: 'Inter';
}
* {
  font-family: 'Inter';
}

body {
  background-color: #FAFAFA;
}

a:hover {
  opacity: 0.7;
}

a.primary-button {
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: 500;
  text-decoration: none;
  background-color: #F97353;
  border: 2px solid #F97353;
  color: white;
}

.main-intro-block {
  padding-right: 20%;
  margin-bottom: 160px;
  margin-top: 80px;
}
.main-intro-title {
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 36px;
}
.main-intro-description {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 24px;
}

.intro-block {
  margin: 60px auto 120px auto;
}
.intro-title {
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 28px;
}
.intro-description {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 24px;
}

#mc_embed_signup form input.email {
  height: 36px;
}
#mc_embed_signup input.button {
  height: 36px;
  background-color: #F97353;
  border: 2px solid #F97353;
}
a.primary-button:hover,
#mc_embed_signup input.button:hover {
  color: #F97353;
  background-color: white;
  opacity: 1;
}
#mc_embed_signup .form-button-container {
  margin-left: 12px;
  display: inline-block;
}

.footer .footer-column {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
.footer a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
}

.header-right-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 30;
  background-color: white;
}
.header-right-page .header-right-item {
  display: block;
  height: 50px;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  border-bottom: 1px solid #E3E3E3;
  margin-left: 0px;
  color: #1B1B1B;
}
.header-right-page .header-right-item:first-of-type {
  display: block;
}
.header-right-page .header-right-item:last-of-type {
  border-bottom: 1px solid #E3E3E3;
  border-width: 0px 0px 1px 0;
  padding: 0px;
}
.header-right-burger {
  display: none;
  margin-right: 8px;
  svg {
    color: #1b1b1b;
  }
}

iframe {
  width: 600px;
  height: 315px;
}

.header-right .header-right-item {
  text-decoration: none;
  margin-left: 24px;
  font-size: 21px;
  line-height: 44px;
  color: #1B1B1B;
}
.header-right .header-right-item:first-of-type {
  display: none;
}
.header-right .header-right-item:last-of-type {
  border: 2px solid #F97353;
  padding: 6px 12px;
  border-radius: 4px;
}

.use-case {
  font-size: 22px;
  margin-bottom: 24px;
}

.pricing-block {
  width: 46%;
  display: inline-block;
  vertical-align: top;
  margin: 0 2%;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 48px 38px 0 rgba(0, 0, 0, 0.03);
}
.pricing-title {
  color: white;
  font-size: 22px;
  font-weight: 600;
  padding: 16px;
  border: 2px solid white;
  border-radius: 12px 12px 0 0;
}
.pricing-price {
  font-weight: 600;
  padding: 16px 16px 0 16px;
}
.pricing-features {
  padding: 12px 16px;
}

.social-media {
  display: inline-block;
  margin: 0 6px;
  color: #1B1B1B;
}

.features-block {
  margin-top: 150px;
  margin-bottom: 150px;
}
.feature-block {
  margin: 100px 0;
}
.feature-graphic,
.feature-graphic-container {
  display: inline-block;
}

.faq-block {
  margin: 140px auto;
}

.user-cases {
  margin: 150px auto;
}

.video-title {
  margin-top: 40px;
  font-size: 24px;
}
iframe {
  display: block;
  display: block;
  margin: 12px auto 60px auto;
}

@media (max-width: 700px) {
  .main-intro-block {
    padding-right: 0%;
    margin-bottom: 100px;
    margin-top: 60px;
  }
  .main-intro-title {
    font-size: 36px;
    line-height: 42px;
  }
  .main-intro-description {
    font-size: 24px;
    line-height: 28px;
  }

  .intro-block {
    margin: 20px auto 60px auto;
  }
  .intro-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 22px;
  }
  .intro-description {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .pricing-block {
    width: 100%;
    margin-bottom: 40px;
  }

  #mc_embed_signup .form-button-container {
    margin-left: 0px;
    display: block;
  }

  .header-right {
    display: none;
  }
  .header-right-burger {
    display: inline-block;
  }

  iframe {
    width: 300px;
    height: 160px;
  }

  .features-block {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .feature-block {
    margin: 60px 0;
  }
  .feature-graphic-container {
    display: none;
  }
  .illustration-declaration {
    display: none;
  }

  .faq-block {
    margin: 80px auto;
  }

  .user-cases {
    margin: 80px auto;
  }

  .footer a {
    line-height: 32px;
  }
  .footer .footer-column {
    width: 33%;
  }
  .footer .footer-column:first-of-type {
    display: none;
  }
  .feature-text {
    display: block;
    width: 100% !important;
  }
  .feature-graphic {
    width: 100% !important;
  }
}
